@import url('__menu.css');
@import url('__contacts.css');

.header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #6b573227;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    gap: 40px;
    position: relative;
}

.header__logo img {
    width: 92px;
    height: 69px;
}

.header__mobile-menu__hamb {
    cursor: pointer;
    float: right;
    padding: 40px 10px;

    @media (min-width: 1071px) {
        display: none;
    }
}

.header__mobile-menu__hamb-line  {
    background: var(--brown);
    display: block;
    height: 3px;
    position: relative;
    width: 30px;

    @media (min-width: 1071px) {
        display: none;
    }
}

.header__mobile-menu__hamb-line::before,
.header__mobile-menu__hamb-line::after {
    background: var(--brown);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.header__mobile-menu__hamb-line::before {
    top: 7px;
}
.header__mobile-menu__hamb-line::after {
    top: -7px;
}

.header__mobile-menu__input  {
    display: none;
}

.header__mobile-menu__input:checked ~ .header__nav {
    max-height: 244px;
    width: 332px;
    height: 242px;

     @media (max-width: 550px) {
        width: 292px;
     }
}

.header__mobile-menu__input:checked ~ .header__mobile-menu__hamb .header__mobile-menu__hamb-line {
    background: transparent;
}

.header__mobile-menu__input:checked ~ .header__mobile-menu__hamb .header__mobile-menu__hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.header__mobile-menu__input:checked ~ .header__mobile-menu__hamb .header__mobile-menu__hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

body:has(.header__mobile-menu__input:checked)  {
  overflow: hidden;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;


    @media (max-width: 1071px) {
        position: absolute;
        top: 80px;
        right: 0px;
        height: 0;
        overflow: hidden;
    
        max-height: 0;
        transition: max-height .5s ease-out;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 8px;
        background-color: var(--beige);
        width: fit-content;
        height: fit-content;
        padding-right: 40px;
    }

    @media (max-width: 550px) {
        padding-right: 16px;
    }
}