.price__container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price__subtitle {
    font-weight: 500;
    font-size: 24px;
    color: var(--grafit);
    margin-bottom: 30px;
}

.price__text-under-title {
    font-weight: 500;
    font-size: 16px;
    color: var(--grafit);
    margin-bottom: 30px;
}

.price__wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;

    @media (max-width: 1012px) {
        flex-direction: column;
    }
}

.price__two-position {
    width: 100%;
    max-width: 430px;

    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1040px) {
        max-width: 100%;
    }

    @media (max-width: 421px) {
    flex-direction: column;
    }
}

.price__four-position {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;

    @media (max-width: 660px) {
        grid-template-columns: repeat(2, auto);
    }

    @media (max-width: 421px) {
        grid-template-columns: repeat(1, auto);
    }
}

.price__wrap-1 .price__two-position span,
.price__four-position span:last-child {
    white-space: nowrap;
}

.price__text {
    font-weight: 500;
    font-size: 20px;
    color: var(--grafit);
    padding-bottom: 6px;
    border-bottom: 1px solid #3736363d;
}