.fitness__card {
    width: 316px;
    background-color: #fff;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
}

.fitness__card-img {
    border-radius: 20px 20px 0 0;
    width: 316px;
    height: 250px;
    object-fit: cover;
    object-position: center center;

    @media (max-width: 430px) {
        width: 100%;
    } 
}

.fitness__card-title {
    font-weight: 500;
    font-size: 24px;
    color: var(--grafit);
    margin: 0 20px;
    height: 45px;
}

.fitness__card-text {
    font-weight: 500;
    font-size: 16px;
    color: var(--grafit);
    margin: 0 20px;
    flex-grow: 1;
}

.fitness__card-text span {
    display: block;
    margin-top: 10px;
}

.fitness__card-button {
    align-self: center;
    margin-bottom: 20px;
}