@import url("__card.css");

.fitness__container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 60px;
    position: relative;

    @media (max-width: 798px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (max-width: 550px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.fitness__title {
    margin-bottom: 30px;
    text-align: center;
}

.fitness__swiper {
    padding-bottom: 15px;
}

.fitness__cards {
    margin-bottom: 20px;
}

.swiper-button-prev,
.swiper-button-next {
    border-radius: 50%;
    background-color: var(--green);
    color: var(--beige);
    transition: all 0.5s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 798px) {
        display: none;
    }
}

.swiper-button-prev {
    left: 0px;
}

.swiper-button-next {
    right: 0px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: var(--brown);
}

.swiper-button-prev, .swiper-button-next {
::slotted(svg), svg {
    width: 0;
    height: 0;
  }
}

.swiper-pagination{
    padding-bottom: -10px;
}

.swiper-pagination-bullet-active {
    background-color: var(--green);
}