@import url('__form.css');

.contacts__container {
    padding-top: 40px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media (max-width: 900px) {
        flex-direction: column;
    }
}

.contacts__container::after {
    border-bottom: 1px solid var(--beige);  
    content: '';
    position: absolute;
    bottom: 0;
    left: 60px;
    width: calc(100% - 120px);
}

.contacts__text {
    font-weight: 500;
    font-size: 20px;
    color: var(--grafit);
    max-width: 461px;
    margin-bottom: 50px;

    @media (max-width: 900px) {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

.contacts__list {
    list-style-position: inside;
}

.contacts__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--grafit);
}

.contacts__link {
    color: var(--green);
    font-weight: 500;
    white-space: nowrap;
}

.contacts__link:hover {
    text-decoration: underline;
}