.footer__container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 990px) {
        grid-template-columns: repeat(2, auto);
    }

    @media (max-width: 550px) {
        grid-template-columns: repeat(1, auto);
    }
}

.footer__logo {
    width: 92px;
}

.footer__documents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;

    @media (max-width: 550px) {
        align-items: flex-start;
    }
}

.footer__documents-link,
.footer__phone,
.footer__address {
    font-weight: 400;
    font-size: 16px;
    color: var(--grafit);
}

.footer__documents-link:hover,
.footer__menu-link:hover,
.footer__phone:hover {
    text-decoration: underline;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__menu-link {
    font-weight: 500;
    font-size: 16px;
    color: var(--brown);
}

.footer__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;

    @media (max-width: 550px){
        align-items: flex-start;
    }
}

.footer__social { 
    display: flex;
    gap: 20px;
}

.footer__vk:hover svg path,
.footer__telegram:hover svg path {
    stroke: var(--brown);
}

.footer__vk:hover svg path:nth-child(2),
.footer__telegram:hover svg path:nth-child(2) {
    fill: var(--brown);
}